

@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(/font/NanumSquareR.eot);
    src: url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareR.woff) format('woff'),
    url(/font/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(/font/NanumSquareB.eot);
    src: url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareB.woff) format('woff'),
    url(/font/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(/font/NanumSquareEB.eot);
    src: url(/font/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareEB.woff) format('woff'),
    url(/font/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(/font/NanumSquareL.eot);
    src: url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(/font/NanumSquareL.woff) format('woff'),
    url(/font/NanumSquareL.ttf) format('truetype');
}

/*
.wrap_subject .tit_subject,.each_top .intro_txt p{font-family: "NanumSquareR","NanumSquareB";}
.modal-con .con b {font-family:'NanumSquareB' !important;}
.wrap_subject .desc_answer{font-family:'NanumSquareR', 'NanumSquareL' !important;}
*/


/*
.header .header-inner .gnb .tabs li a span,
.header .header-inner .gnb-inner li>a,
.header .header-inner .gnb-inner span{font-family: 'NanumSquare' !important;    font-weight: 800 !important; }
*/

