<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비전 | 더캐리</title>
  <script src="js/jquery.js"></script>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/common.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="shortcut icon"  href="//thekary.com/img/favicon.ico">
  <link rel="icon" href="//thekary.com/img/favicon.ico"〉

</head>

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/135f4d7845.js" crossorigin="anonymous"></script>



<!-- 콘텐츠 시작 { -->
<div id="wrapper">
  <div id="container_wr">

    <div id="container">

      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="css/font.css">
      <style>
        .logo_ch{display:none;}
      </style>

      <script>
        $(function(){
          $('.fas.fa-bars').click(function(){ //햄버거
            $('body').addClass('overflow_hidden')
            $('.gnb_m').animate({'left':0},400)
            $('.logo').css('display','none');
            $(this).addClass('out');
            $('.fas.fa-times').addClass('on');
          })

          $('.fas.fa-times').click(function(){ //닫기
            $('body').removeClass('overflow_hidden')
            $('.gnb_m').animate({'left':'-100%'},400)
            $('.logo').css('display','block');
            $('.fas.fa-bars').removeClass('out');
            $('.fas.fa-bars').addClass('on');
            $('.fas.fa-times').removeClass('on');
          })

          $('.gnb_inner > ul > li > span').click(function(){
            h = $(this).parent().find('ul').outerHeight();

            if($(this).hasClass('on')){//두번클릭시 -
              $('.gnb_inner > ul > li').find('div').stop().animate({'height':0},300)
              $('.gnb_inner span').removeClass('on')
            }else{ //처음클릭
              $('.gnb_inner span').removeClass('on')
              $(this).addClass('on')

              $('.gnb_inner > ul > li').find('div').stop().animate({'height':0},300)
              $(this).parent().find('div').stop().animate({'height':h},300)

            }
          })

        });
      </script>

      <div class="header" id="header">
        <div class="header-inner">

          <h1 class="logo"><a href="/index.html"><img src="/img/logo.png" alt=""></a></h1>
          <h1 class="logo_ch"><a href="/index.html"><img src="/img/logo_white.png" alt=""></a></h1>


          <!-- 언어선택 -->
          <style>
            body {top:0 !important;}
            .top_translate { height:37px !important;  overflow:hidden; text-align: center;  position: absolute; top: 5px; right: 4%;}
            .goog-te-gadget .goog-te-combo { width: 70px; padding: 2px 0;  -webkit-appearance: none; appearance: none; border: 0; background: transparent url(/img/arr_lang.svg) no-repeat right center/9px auto; font-size: 13px; color: #000; }

            @media screen and (max-width: 1100px) {
              .top_translate {right: 2%;}
            }
            @media screen and (max-width: 800px) {
              .top_translate {right: 12% !important;}
            }
            @media screen and (max-width: 600px) {
              .top_translate {right: 45px !important;}
              .goog-te-gadget .goog-te-combo { width: 65px; }
            }
            @media screen and (max-width: 500px) {
              .top_translate {right: 40px !important;}
              .goog-te-gadget .goog-te-combo { width: 60px; font-size: 12px; }
            }
            .goog-te-gadget-simple {height: 25px; line-height: 24px;}
            .goog-te-banner-frame {display:none !important} .goog-te-menu-frame {z-index: 99999999999999999999 !important;}
          </style>

          <div class="top_translate">
            <div id="google_translate_element"></div>
            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'ko'}, 'google_translate_element');
              }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </div>
          <!-- //언어선택 -->



          <div class="gnb">
            <ul class="tabs" style="padding:0 0 0 200px; min-width:1100px;margin:0 auto; width:70%">
              <li class="company"><a href="/about_mis.html"><span>COMPANY</span></a><span class="line"></span></li>
              <li class="brand"><a href="/theKary.html"><span>BRAND</span></a><span class="line"></span></li>
              <li class="csr"><a href="/social.html"><span>CSR</span></a><span class="line"></span></li>
              <li class="pr"><a href="/board/bbs/board.php?bo_table=press"><span>PR</span></a><span class="line"></span></li>
              <li class="career"><a href="/santa.html"><span>CAREER</span></a><span class="line"></span></li>
              <li class="business"><a href="/busiGuidee.html"><span>BUSINESS</span></a><span class="line"></span></li>
            </ul>

            <div class="gnb-inner" >
              <div class="inner" style="padding:0 0 0 200px;min-width:1100px ">
                <ul class="companyy">
                  <li ><a href="/about_mis.html"><span>회사 소개</span></a></li>
                  <li><a href="/about_mis.html">미션</a></li>
                  <li><a href="/about_vis.html">비전</a></li>
                  <li><a href="/about_val.html">핵심가치</a></li>
                  <li><a href="/about_history.html">연혁</a></li>
                  <li><a href="/about_ci.html">CI</a></li>
                </ul>
                <ul>
                  <li><a href="/theKary.html"><span>브랜드</span></a></li>
                  <li><a href="/theKary.html">KARYMARKET</a></li>
                  <li><a href="/bebe.html">BEBEDEPINO</a></li>
                  <li><a href="/ice.html">ICEBISCUIT</a></li>
                  <li><a href="/nunu.html">nununu</a></li>
                </ul>
                <ul>
                  <li><a href="/social.html"><span>사회공헌</span></a></li>
                  <li><a href="/social.html">사랑의 열매</a></li>
                  <li><a href="/donation.html">경기청소년희망센터</a></li>
                  <li><a href="/childfund.html">초록우산어린이재단</a></li>
                  <li><a href="/gfoundation.html">지파운데이션</a></li>
                </ul>
                <ul>
                  <li><a href="/board/bbs/board.php?bo_table=press"><span>홍보채널</span></a></li>
                  <li><a href="/board/bbs/board.php?bo_table=press">보도자료</a></li>
                  <li><a href="/board/bbs/board.php?bo_table=video">브랜드 영상</a></li>
                  <li><a href="/board/bbs/board.php?bo_table=media ">미디어</a></li>
                </ul>
                <ul>
                  <li><a href="/santa.html"><span>인재채용</span></a></li>
                  <li><a href="/santa.html">캐리산타</a></li>
                  <!--li><a href="/interview.html">산타 인터뷰</a></li-->
                  <li><a href="/recruit.html">채용정보</a></li>
                </ul>
                <ul>
                  <li><a href="/busiGuidee.html"><span>비즈니스</span></a></li>
                  <li><a href="/busiGuidee.html">제휴 안내</a></li>
                  <li><a href="/wayToCome.html">오시는 길</a></li>
                </ul>
              </div>

            </div>
          </div>


          <p class="fas fa-bars"></p>

        </div>
      </div>

      <!--//메인헤더-->
      <!--햄버거 슬라이드 메뉴-->
      <!--햄버거 슬라이드 메뉴-->
      <div class="gnb_m">
        <a href="/index.html"><img src="/img/logo.png" alt=""></a>
        <i class="fas fa-times"></i>
        <div class="gnb_inner">
          <ul class="gnb_wrap">
            <li><span class="a1">COMPANY &nbsp회사 소개</span>
              <div>
                <ul>
                  <li><a href="/about_mis.html">미션</a></li>
                  <li><a href="/about_vis.html">비전</a></li>
                  <li><a href="/about_val.html">핵심가치</a></li>
                  <li><a href="/about_history.html">연혁</a></li>
                  <li><a href="/about_ci.html">CI</a></li>
                </ul>
              </div>
            </li>
            <li><span class="a2">BRAND &nbsp브랜드</span>
              <div>
                <ul>
                  <li><a href="/theKary.html">KARYMARKET</a></li>
                  <li><a href="/bebe.html">BEBEDEPINO</a></li>
                  <li><a href="/ice.html">ICEBISCUIT</a></li>
                  <li><a href="/nunu.html">nununu</a></li>
                </ul>
              </div>
            </li>
            <li><span class="a3">CSR &nbsp사회공헌</span>
              <div>
                <ul>
                  <li><a href="/social.html">사랑의 열매</a></li>
                  <li><a href="/donation.html">경기청소년희망센터</a></li>
                  <li><a href="/childfund.html">초록우산어린이재단</a></li>
                  <li><a href="/gfoundation.html">지파운데이션</a></li>
                </ul>
              </div>
            </li>
            <li><span class="a4">PR &nbsp홍보채널</span>
              <div>
                <ul>
                  <li><a href="/board/bbs/board.php?bo_table=press">보도자료</a></li>
                  <li><a href="/board/bbs/board.php?bo_table=video">브랜드 영상</a></li>
                  <li><a href="/board/bbs/board.php?bo_table=media ">미디어</a></li>
                </ul>
              </div>
            </li>
            <li><span class="a5">CAREER &nbsp인재채용</span>
              <div>
                <ul>
                  <li><a href="/santa.html">캐리 산타</a></li>
                  <li><a href="/interview.html">산타 인터뷰</a></li>
                  <li><a href="/recruit.html">채용정보</a></li>
                </ul>
              </div>
            </li>
            <li><span class="a6">BUSINESS &nbsp비즈니스</span>
              <div>
                <ul>
                  <li><a href="/busiGuidee.html">제휴 안내</a></li>
                  <li><a href="/wayToCome.html">오시는 길</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--//햄버거 슬라이드 메뉴--><script>
      $(function () {
        $('.a1').addClass('on')
        $("#footer").load("/footer.html");
      });
    </script>

      <body>
      <header>
        <div id="header"></div>
      </header>

      <div class="container">

        <div class="sub_cate">
          <ul>
            <li>홈&nbsp;<span><i class="fas fa-angle-right"></i></span></li>
            <li>COMPANY&nbsp;<span><i class="fas fa-angle-right"></i></span></li>
            <li class=loca>비전</li>
          </ul>
        </div>


        <div data-aos="fade-down" data-aos-duration="1000">
          <div class="mis-wrap">
            <div class="mis_title">
              <p>THE BEST CHRISTMAS PRESENT EVER | 행복을 수놓은 특별한 옷</p>
            </div>
            <img src="/img/about_vis.png" alt="">
            <div class="mis_bottom">
              <p>비전</p>
              <span>
				행복은 어떤 모양일까요? <br/>
듣기만 해도 마음이 따뜻하고 행복해지는 캐럴의 멜로디처럼,<br/>
“행복을 디자인할 수 있으면 얼마나 좋을까?” 라고 캐리 산타는 생각했어요.<br/>
그리고 가족과 함께하는 크리스마스 풍경을 생각했죠. <br/>
오색 전구가 빛나고 트리 아래는 선물이 가득, 활짝 웃는 가족들의 얼굴과 부드러운 케이크까지!<br/>
<br/>
그 색과 모양을 담은 옷을 입는다면, 매일이 행복하지 않을까요?<br/>
그래서 캐리 산타는 행복을 수놓은 특별한 옷을 만들어요.<br/>
모든 아이들이 행복을 입는 날까지 캐리 산타는 멈추지 않을 거에요!<br/>

            </span>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div id="footer"></div>
      </footer>
      <script>
        AOS.init();
      </script>
      </body>
</html>