<div id="fullpage" class="fullpage-wrapper" style="height: 100%; position: relative; touch-action: none; transform: translate3d(0px, -351px, 0px); transition: all 700ms ease 0s;">
    <div class="section section01 fp-section fp-table" id="section0" data-fp-styles="null" data-anchor="anchor1" style="height: 722px;"><div class="fp-tableCell" style="height: 722px;"></div></div>
    <!--
    <div class="section section02" id="section1"></div>
    <div class="section section03" id="section2"></div>
    -->
    <div class="section fp-auto-height fp-section fp-table active fp-completely" id="section2" data-fp-styles="null" data-anchor="anchor2" style="height: 722px;"><div class="fp-tableCell" style="height: 722px;">
        <footer>
            <div id="footer"><script src="js/custom2.js"></script>
                <link rel="stylesheet" href="/css/footer.css">


                <div class="footer_wrap">
                    <div class="bottom_logo">
                        <img src="/img/logo.png" alt="">
                    </div>
                    <div class="foot_list">
                        <div class="cs float">
                            <ul>
                                <li><p class="tit">SITEMAP</p></li>
                                <li><a href="/about_mis.html">회사소개</a></li>
                                <li><a href="/theKary.html">브랜드</a></li>
                                <li><a href="/social.html">사회공헌</a></li>
                                <li><a href="/board/bbs/board.php?bo_table=press">홍보채널</a></li>
                                <li><a href="/santa.html">인재채용</a></li>
                                <li><a href="/busiGuidee.html">비즈니스</a></li>
                            </ul>
                        </div>

                        <div class="commu float">
                            <ul>
                                <p class="tit">BUSINESS</p>
                                <li>
                                    <p><a href="/busiGuidee.html">제휴안내</a></p>
                                </li>
                                <li>
                                    <p><a href="/recruit.html">채용정보</a></p>
                                </li>
                                <li>
                                    <p><a href="/board/bbs/board.php?bo_table=press">보도자료</a></p>
                                </li>
                                <li>
                                    <p><a href="/wayToCome.html">오시는길</a></p>
                                </li>
                            </ul>
                        </div>

                        <div class="commu float">
                            <ul>
                                <li><p class="tit">FAMILY SITE</p></li>
                                <li><a href="https://karymarket.com/" target="_blank">KARYMARKET</a></li>
                                <li><a href="https://www.bebedepino.com" target="_blank">BEBEDEPINO</a></li>
                                <li><a href="http://icebiscuit.com/" target="_blank">ICEBISCUIT</a></li>
                                <li><a href="http://nununu.co.kr/" target="_blank">nununu</a></li>
                            </ul>
                        </div>


                        <div class="info float" style="margin-right: 0;">
                            <p class="tit">COMPANY</p>
                            <p>
                                상호명 : ㈜더캐리<br>
                                대표자 : 이은정, 윤중용<br>
                                사업자등록번호 : 128-87-03548<br>
                                통신판매신고번호 : 제 2021-서울용산-1694호<br>
                                전화 : 02-6119-5119 (팩스 : 02-6119-5005)<br>
                                주소 : 서울특별시 용산구 한남동 738-36 2F-5F<br>
                                <!-- <span>SK엠시티타워 13001-1</span><br />-->
                                <span style="font-size:11px;line-height:2.8em">COPYRIGHT ©  THEKARY. ALL RIGHT RESERVED.</span>
                            </p>
                        </div>

                    </div>


                </div>




            </div>
        </footer>
    </div></div>
</div>